<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="$(SolutionDir)RAML.CodeGen.Tests\bin\Debug\RAML.Parser.dll" #>
<#@ assembly name="$(SolutionDir)RAML.CodeGen.Tests\bin\Debug\EdgeJs.dll" #>
<#@ assembly name="$(SolutionDir)Raml.Tools\bin\Debug\Raml.Tools.dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Raml.Parser" #>
<#@ import namespace="Raml.Tools" #>
<#@ import namespace="Raml.Tools.WebApiGenerator" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#

	var parser = new RamlParser();
	var ramlFile = Host.ResolvePath("movies.raml");
	var raml = parser.Load(ramlFile);
	var service = new WebApiGeneratorService(raml);
	var model = service.BuildModel();
	var controllerObject = model.Controllers.First();
#>

using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using System.Web.Http;

namespace <#= model.Namespace #>
{
    public partial class <#= controllerObject.Name #>Controller : I<#= controllerObject.Name #>Controller
    {

<#
		foreach (var method in controllerObject.Methods)
		{
#>
		<#= method.XmlComment ?? string.Empty #>
        public IHttpActionResult <#= method.Name #>(<#= method.ParametersString #>)
        {
            // TODO: implement <#= method.Name #>
<#
    if (method.ReturnType != null && method.ReturnType != "string")
    {
#>
			// var result = new <#= method.ReturnType #>();
			// return Ok(result);
<#
	}
#>
			return Ok();
        }

<#

		}
#>
    }
}