<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="$(SolutionDir)RAML.Parser\bin\Debug\RAML.Parser.dll" #>
<#@ assembly name="$(SolutionDir)Raml.VisualStudio.Tools\bin\Debug\Raml.Tools.dll" #>
<#@ assembly name="$(SolutionDir)RAML.Parser\bin\Debug\EdgeJs.dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Raml.Parser" #>
<#@ import namespace="Raml.Tools" #>
<#@ import namespace="Raml.Tools.WebApiGenerator" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#

	var parser = new RamlParser();
	var ramlFile = Host.ResolvePath("movies.raml");
	var raml = parser.Load(ramlFile);
	var service = new WebApiGeneratorService(raml);
	var model = service.BuildModel();
	var classObject = model.Controllers.First();
#>

using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using System.Web.Http;

namespace <#= model.Namespace #>
{
    [RoutePrefix("<#= classObject.PrefixUri #>")]
    public partial class <#= classObject.Name #>Controller : ApiController
    {

<#
		foreach (var method in classObject.Methods)
		{
#>

        /// <#= method.Comment ?? string.Empty #>
        [Http<#= method.Verb #>]
        [Route("<#= method.Url #>")]
        public virtual async Task<IHttpActionResult> <#= method.Name #>(<#= method.ParametersString #>)
        {
            return Ok();
        }

<#

		}
#>
    }
}