<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raml - OAuth Web Api</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
