@using System.Activities.Expressions
@model IEnumerable<OrdersClientSample.Models.OrderViewModel>

<div class="jumbotron">
    <h1>Orders XML Client Sample</h1>
    <p class="lead">
        This sample is a demo for using the RAML Tools to generate a client with XML Schemas and use it within a ASP.NET MVC app.
        <br /> For a sample with JSON schemas and WinForms please see the Movies Client Sample
    </p>
    <p><a href="https://github.com/mulesoft-labs/raml-dotnet-tools#raml-tools-for-net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
