<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MuleSoft.RAML.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MuleSoft.RAML.Tools.Properties.Settings>
        <setting name="NugetPackagesSource" serializeAs="String">
            <value>https://www.nuget.org/api/v2/</value>
        </setting>
        <setting name="NewtonsoftJsonPackageId" serializeAs="String">
            <value>Newtonsoft.Json</value>
        </setting>
        <setting name="NewtonsoftJsonPackageVersion" serializeAs="String">
            <value>6.0.4</value>
        </setting>
        <setting name="WebApiClientPackageId" serializeAs="String">
            <value>Microsoft.AspNet.WebApi.Client</value>
        </setting>
        <setting name="WebApiClientPackageVersion" serializeAs="String">
            <value>5.2.0</value>
        </setting>
        <setting name="ContractsFolderName" serializeAs="String">
            <value>Contracts</value>
        </setting>
        <setting name="RAMLClientCommonPackageId" serializeAs="String">
            <value>RAML.Api.Core</value>
        </setting>
        <setting name="RAMLClientCommonPackageVersion" serializeAs="String">
            <value>0.9.1</value>
        </setting>
        <setting name="ApiReferencesFolderName" serializeAs="String">
            <value>API References</value>
        </setting>
        <setting name="ClientT4TemplateName" serializeAs="String">
            <value>GeneratedModel.t4</value>
        </setting>
        <setting name="ServerTemplatesVersion" serializeAs="String">
            <value>1.0</value>
        </setting>
        <setting name="ClientTemplatesVersion" serializeAs="String">
            <value>1.1</value>
        </setting>
    </MuleSoft.RAML.Tools.Properties.Settings>
  </applicationSettings>
</configuration>