<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MuleSoft.RAML.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MuleSoft.RAML.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MuleSoft.RAML.Tools.Properties.Settings>
      <setting name="NugetPackagesSource" serializeAs="String">
        <value>http://ec2-52-88-151-198.us-west-2.compute.amazonaws.com:9003/nuget/</value>
      </setting>
      <setting name="NewtonsoftJsonPackageId" serializeAs="String">
        <value>Newtonsoft.Json</value>
      </setting>
      <setting name="NewtonsoftJsonPackageVersion" serializeAs="String">
        <value>6.0.4</value>
      </setting>
      <setting name="WebApiCorePackageId" serializeAs="String">
        <value>Microsoft.AspNet.WebApi.Core</value>
      </setting>
      <setting name="WebApiCorePackageVersion" serializeAs="String">
        <value>5.2.0</value>
      </setting>
      <setting name="ContractsFolderName" serializeAs="String">
        <value>Contracts</value>
      </setting>
      <setting name="RAMLApiCorePackageId" serializeAs="String">
        <value>RAML.Api.Core</value>
      </setting>
      <setting name="RAMLApiCorePackageVersion" serializeAs="String">
        <value>0.9.8</value>
      </setting>
      <setting name="ApiReferencesFolderName" serializeAs="String">
        <value>API References</value>
      </setting>
      <setting name="ClientT4TemplateName" serializeAs="String">
        <value>RAMLClient.t4</value>
      </setting>
      <setting name="ServerTemplatesVersion" serializeAs="String">
        <value>3.0</value>
      </setting>
      <setting name="ClientTemplatesVersion" serializeAs="String">
        <value>5.0</value>
      </setting>
      <setting name="ClientTemplateTitle" serializeAs="String">
        <value>Client Proxy T4 Template</value>
      </setting>
      <setting name="ModelsTemplateTitle" serializeAs="String">
        <value>Models</value>
      </setting>
      <setting name="BaseControllerTemplateTitle" serializeAs="String">
        <value>Base Controller</value>
      </setting>
      <setting name="ControllerInterfaceTemplateTitle" serializeAs="String">
        <value>Controller Interface</value>
      </setting>
      <setting name="ControllerImplementationTemplateTitle" serializeAs="String">
        <value>Controller Implementation</value>
      </setting>
      <setting name="EnumsTemplateTitle" serializeAs="String">
        <value>Enums</value>
      </setting>
      <setting name="RAMLExchangeUrl" serializeAs="String">
        <value>https://library.mulesoft.com/#!/?types=api</value>
      </setting>
      <setting name="RAMLWebApiExplorerPackageId" serializeAs="String">
        <value>RAML.WebApiExplorer</value>
      </setting>
      <setting name="RAMLWebApiExplorerPackageVersion" serializeAs="String">
        <value>1.2.0</value>
      </setting>
      <setting name="RAMLParserPackageId" serializeAs="String">
        <value>RAML.Parser</value>
      </setting>
      <setting name="RAMLParserPackageVersion" serializeAs="String">
        <value>0.9.4</value>
      </setting>
      <setting name="MicrosoftNetHttpPackageId" serializeAs="String">
        <value>Microsoft.Net.Http</value>
      </setting>
      <setting name="MicrosoftNetHttpPackageVersion" serializeAs="String">
        <value>2.2.29</value>
      </setting>
    </MuleSoft.RAML.Tools.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <userSettings>
    <MuleSoft.RAML.Tools.Properties.Settings>
      <setting name="NugetExternalPackagesSource" serializeAs="String">
        <value>https://www.nuget.org/api/v2/</value>
      </setting>
      <setting name="EdgePackageId" serializeAs="String">
        <value>Edge.js</value>
      </setting>
      <setting name="EdgePackageVersion" serializeAs="String">
        <value>4.0.0</value>
      </setting>
    </MuleSoft.RAML.Tools.Properties.Settings>
  </userSettings>
</configuration>
