<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="$(SolutionDir)RAML.Parser\bin\Debug\RAML.Parser.dll" #>
<#@ assembly name="$(SolutionDir)Raml.VisualStudio.Tools\bin\Debug\Raml.Tools.dll" #>
<#@ assembly name="$(SolutionDir)RAML.Parser\bin\Debug\EdgeJs.dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Raml.Parser" #>
<#@ import namespace="Raml.Tools" #>
<#@ import namespace="Raml.Tools.WebApiGenerator" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#

	var parser = new RamlParser();
	var ramlFile = Host.ResolvePath("twitter.raml");
	var raml = parser.Load(ramlFile);
	var service = new WebApiGeneratorService(raml);
	var model = service.BuildModel();

#>

using System;
using System.Collections.Generic;

namespace <#= model.Namespace #>.Objects
{
<#
foreach (var apiObject in model.Objects.Values.Where(o => o.Properties.Any()))
{
	if (!string.IsNullOrWhiteSpace(apiObject.Description))
	{
#>
    /// <summary>
    /// <#= apiObject.Description #>
    /// </summary>
<#
	}
#>
    public partial class <#= apiObject.Name #>
    {
        
<#
	foreach (var property in apiObject.Properties.Where(p => p != null && p.Type != null && p.Name != null).ToArray())
	{
	    if (!string.IsNullOrWhiteSpace(property.Description))
	    {
#>
        /// <summary>
        /// <#= property.Description #>
        /// </summary>
<#
	}
#>
        public <#= property.Type #> <#= property.Name #> { get; set; }
<#
	}
#>
    } // end class

<#
}
	if (model.Warnings != null && model.Warnings.Any()){
#>
    // Unable to parse the following Schemas. Please note that JSON Schema version 4 is not supported
<#
		foreach (var warning in model.Warnings)
		{
#>
    // <#= warning.Key #> - <#= warning.Value #>
<#
		}
    }
#>
} // end Objects namespace